body {
    font-family: Arial;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.register-div {
    display: grid;
    gap: 15px;
    flex-grow: 1;
    margin: 15px;
    text-align: center;
    font-size: 30px;
}

.register-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background: #fff;
    font-size: 18px;
    font-weight: bold;
}

.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.main-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    padding-bottom: calc(170px + var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
}
.pages-index-index {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.balance-div {
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 100%;
    margin-top: 34px;
}

.balance-div svg {
    width: 40px;
    height: 40px;
}

#balance {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
}

#app, #game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

#register input {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 2rem;
    padding: 15px;
    font-size: 16px;
}

#gameArea {
    width: 100%;
    height: 100vh;
    background: url(game.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    overflow: hidden;
}

.game-div {
    width: 100%;
    position: absolute;
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.coin, .freeze, .bomb {
    position: absolute;
}

.coin {
    background-image: url("coin.png");
    background-size: cover;
}

.freeze {
    background-image: url("freeze.png");
    background-size: cover;
}

.bomb {
    background-image: url("bomb.png");
    background-size: cover;
}

/* Добавить стили для элементов при нажатии */
.coin.clicked,
.freeze.clicked,
.bomb.clicked {
    transform: scale(0.9);
    transition: transform 0.1s ease;
}
.farming-btn {
    max-width: 700px;
    position: absolute;
    padding: 16px;
    right: 0;
    left: 0;
    bottom: calc(83px + var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
}

.farming-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    color: #a6a6a6d9;
    height: 56px;
    padding: 0 20px;
    border: none;
    border-radius: 8px;
}

#farmingBalance {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

#farmingTimer {
    font-size: 14px;
    line-height: 16px;
}

#app .tabs {
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    top: auto;
}

.layout-tabs, .layout-tabs .tab {
    display: flex;
}
.layout-tabs a {
    padding-top: 12px;
}
.layout-tabs {
    background: #000;
    height: calc(83px + var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding-left: 16px;
    padding-right: 16px;
}

.layout-tabs svg {
    width: 24px;
    color: #a6a6a6;
}

.drop-game {
    display: grid;
    height: 120px;
    padding: 16px 24px;
    margin-top: auto;
    background-color: #131313;
    border-radius: 12px;
    background-image: url(drop.svg);
    background-position: 50%;
    background-size: 100% auto;
    position: relative;
}

.drop-game img {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 16px;
    transform: translate(-50%);
}

.pages-index-drop {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    margin-top: auto;
}

.start-game-btn {
    height: 36px;
    padding: 0 24px;
    border: none;
    background: #fff;
    color: #000;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: 600;
}

.title-with-balance .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.title-with-balance .pass {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 16px;
    margin-top: 2px;
}

.title-with-balance .ticket {
    width: 20px;
    height: 20px;
    background: url(ticket.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.avatar {
    background: #666;
    border-radius: 96px;
    width: 96px;
    height: 96px;
    margin: auto;
}

@keyframes fall {
    0% {
        top: -50px;
    }
    100% {
        top: 100%;
    }
}

.falling {
    animation: fall linear;
    animation-duration: 3s; /* Задайте желаемую продолжительность анимации */
    animation-play-state: running;
}

#gameTimer {
    border: 2px solid rgba(234, 212, 12, .302);
    color: #ead40c;
    border-radius: 100px;
    padding: 3px 14px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.points {
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 52px;
    transition: all .1s ease;
    transition-property: transform,color;
}

.points svg {
    width: 38px;
    height: 38px;
}

#score {
    font-size: 40px;
    font-weight: 700;
}

.profile-with-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 82px;
}

#displayUsername {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 16px;
}

.play-again-window {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
}

.play-again-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.end-game-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.end-game-content img {
    width: 128px;
    height: 128px;
}

.end-game-content .message {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 32px;
    text-align: center;
}

.reward {
    margin-top: 26px;
    margin-bottom: 26px;
}

.end-game-content .value {
    display: flex;
    gap: 4px;
    align-items: center;
}

.end-game-content .value svg {
    width: 38px;
    height: 38px;
}

#finalScore {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}

.reward-description {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.end-game-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: auto;
    padding-bottom: 46px;
}

.kit-button {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    margin: 0;
    outline: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    transition: all .2s ease;
    transition-property: color,background;
    vertical-align: middle;
    will-change: color,background;
}

.kit-button span {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.is-large {
    border-radius: 8px;
    height: 56px;
    padding: 0 20px;
}

.is-secondary {
    background: #1c1c1e;
    color: #fff;
}

.is-primary {
    background: #fff;
    color: #000;
}

.hidden {
    display: none;
}
.pages-tasks-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pages-tasks-list-item-label .container .details .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.subtitle {
    color: #a6a6a6;
    margin-top: 12px;
}
.tasks-list {
    position: relative;
    margin-top: 16px;
}
.pages-tasks-head img {
    width: 44px;
    height: 44px;
}
.pages-tasks-head .title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 16px;
    position: relative;
}
.pages-tasks-list-item-label .container {
    align-items: center;
    display: flex;
    gap: 20px;
    height: 72px;
    padding-bottom: 0.5px;
    padding-left: 4px;
    position: relative;
}
.pages-tasks-list-item-label .container img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.pages-tasks-list-item-label .container .details {
    overflow: hidden;
}
.pages-tasks-list-item-label .container .pill-btn {
    margin-left: auto;
}
.pages-tasks-pill.is-status-not-started {
    background: #282828;
    color: #fff;
}
.tasks-pill-inline {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    height: 36px;
    justify-content: center;
    outline: 0;
    transition: all .2s ease;
    transition-property: background;
    vertical-align: middle;
    width: 64px;
    will-change: background;
}
.pages-tasks-pill .label {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pages-tasks-list-item-label .container:not(.no-border):after {
    background: #282828;
    bottom: 0;
    content: "";
    height: 0.5px;
    left: 44px;
    position: absolute;
    right: -16px;
}
.invite-btn {
    max-width: 700px;
    position: absolute;
    padding: 16px;
    right: 0;
    left: 0;
    bottom: calc(83px + var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
}
.invite-button {
    width: 100%;
    background-color: #fff;
    color: #000;
    height: 56px;
    padding: 0 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}